.error-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.error-container p{
  margin-top: 20px;
}

.btn-home{
  background-color: #182942;
  border: none;
}

.btn-home:hover{
  background-color: #384456;
}
