.about-container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin: 3.125rem auto;
  width: 90%;
  max-width: 75rem;
}

.about-title {
  text-align: center;
  font-family: "windsong";
  font-size: 2.5rem;
  font-weight: 500;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.125rem;
  padding: 1.25rem;
}

section.reverse {
  flex-direction: row-reverse;
}

section .about-image,
section .education-image,
section .experience-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}

section .about-image img,
section .education-image img,
section .experience-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

section .about-text,
section .education-text,
section .experience-text {
  flex: 1;
  text-align: left;
  padding: 0.625rem 1.25rem;
}

section .about-text h2,
section .education-text h2,
section .experience-text h2 {
  font-size: 1.8rem;
  color: #333;
  letter-spacing: 0.0625rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

.headline {
  font-size: 1.6rem;
  color: #444;
}

section ul {
  padding: 0;
  margin-top: 0.625rem;
}

section ul li {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.3125rem;
}

@media (min-width: 1023px) {
  .about-container {
    gap: 3.75rem;
    padding: 2.5rem;
  }

  section .about-text h2,
  section .education-text h2,
  section .experience-text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .about-container {
    gap: 2.5rem;
  }

  section {
    padding: 0.9375rem;
  }

  section .about-text h2,
  section .education-text h2,
  section .experience-text h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  section .about-image img,
section .education-image img,
section .experience-image img {
  width: 70%;
}

  section p {
    font-size: 1.1rem;
    text-align: center;
  }

  .about-container section {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }

  .about-container section {
    flex-direction: column;
  }

  section .about-image,
  section .education-image,
  section .experience-image {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  section .about-text,
  section .education-text,
  section .experience-text {
    width: 100%;
    padding: 0.625rem;
  }


  section .about-text h2,
  section .education-text h2,
  section .experience-text h2 {
    font-size: 1.6rem;
  }

  section p {
    font-size: 1rem;
  }

  section ul li {
    font-size: 1rem;
  }

  section .about-text,
  section .education-text,
  section .experience-text {
    text-align: center;
  }

  section ul li {
    list-style: none;
  }
}

@media (max-width: 480px) {
  section h2 {
    font-size: 1.4rem;
  }

  section p {
    font-size: 0.9rem;
  }

  section ul li {
    font-size: 0.9rem;
  }

  .about-container section {
    flex-direction: column;
  }
}
