.index-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.main {
  width: 100%;
  max-width: 75rem;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.content-left {
  flex: 1;
  padding: 1.25rem;
  max-width: 50%;
}

.content-left h2 {
  margin-bottom: 1.875rem;
  color: #182942;
}

h1 {
  font-size: 3.5rem;
  color: #182942;
  font-weight: 600;
}

.content-left p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.25rem;
  color: #182942;
}

.content-right {
  flex: 1;
  padding: 1.25rem;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  max-width: 60%;
  height: auto;
  margin-bottom: 1.25rem;
}

.button-container {
  display: flex;
  gap: 0.625rem;
  margin-top: 3.125rem;
}

.btn-linkedin {
  background-color: #182942;
  border: #294368;
}

.btn-linkedin:hover {
  background-color: #767e8b;
}

.btn-resume {
  background-color: #182942;
  border: #294368;
}

.btn-resume:hover {
  background-color: #767e8b;
}

@media (min-width: 1023px) {
  h1 {
    font-size: 3.5rem;
  }

  .content-left h2 {
    font-size: 2.5rem;
  }

  .content-left p {
    font-size: 1.2rem;
  }

  .image {
    max-width: 60%;
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  .content-left,
  .content-right {
    max-width: 100%;
    padding: 0.625rem;
    text-align: center;
  }

  .content-left h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .button-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }

  .content-left p {
    font-size: 1rem;
  }

  .image {
    max-width: 60%;
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  .content-left,
  .content-right {
    max-width: 100%;
    padding: 0.625rem;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  .content-left h2 {
    font-size: 1.8rem;
  }

  .content-left p {
    font-size: 0.9rem;
  }

  .image {
    max-width: 60%;
  }

  .button-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }
}

@media (max-width: 480px) {
  .content-left h2 {
    font-size: 1.5rem;
  }

  .content-left p {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2rem;
  }

  .image {
    max-width: 100%;
    margin-bottom: 1.25rem;
  }
}
