.contact-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.contact-description p{
text-align: center;
font-size: 1.5rem;
}
section {
  padding: 20px;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #555;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-bottom: 15px;
}

li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

h3 {
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 2px;
  font-weight: 500;
}

h4 {
  font-size: 1.4rem;
  color: #333;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 1rem;
}

section p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 50px;
  color: #333;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact-text {
  flex: 1;
  max-width: 40%;
}

.btn-contact {
  background-color: #555;
  border: #555;
  transition: green 0.3s ease, color 0.3s ease;
}

.btn-contact:hover {
  background-color: rgb(15, 12, 74);
  color: #fff;
  border-color: rgb(100, 100, 200);
}

.contact-image {
  flex: 1;
  max-width: 50%;
  margin-top: 20px;
}

img {
  width: 80%;
  position: relative;
  right: -168px;
  height: auto;
  max-width: 100%;
}

.contact-form {
  width: 30%;
  margin: 0 auto;
}

.contact-form form label {
  display: block;
}

.contact-form form input {
  display: block;
}

.contact-form form .submit-button {
  display: block;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 80px;
}

.contact-info ul {
  padding-left: 20px;
  margin: 10px 0;
  list-style-type: none;
}

.contact-info li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 5px;
  text-align: left;
}

.contact-social-media{
  display: flex;
  gap: 20px;
}
@media (max-width: 1135px) and (min-width: 769px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-image {
    max-width: 100%;
    margin-top: 20px;
  }

  .contact-form {
    max-width: 100%;
  }

  .contact-info {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-image {
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .contact-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-image {
    max-width: 100%;
    margin-top: 20px;
  }
}
