.project-single-page {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: #333;
}

.project-single-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.project-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #111;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  margin: 10px 0;
  color: #555;
}

.image-collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; 
}

.image-item:nth-child(1) {
  grid-column: span 1;
  grid-row: span 2;
}

.image-item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
}

.image-item:nth-child(3) {
  grid-column: span 1;
  grid-row: span 1;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-link {
  margin-top: 20px;
}

.btn-project-index{
  background-color: #361f07;
  border: #361f07;
  text-decoration: none;
  font-size: 1.1rem;
  color: #ececec;
  transition: color 0.2s ease;
}


.btn-project-index:hover {
  background-color: #182942;
  color:#eaeaea;
}


@media (max-width: 768px) {
  .image-collage {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1rem;
  }
}
